* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7b9acc;
    padding: 20px;
    margin: 0px;
}

footer {
    padding: 20px;
}

body {
    background-color: #FCF6F5;
}

hr {
    color: #7b9acc;
    border-color: #7b9acc;
}

img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.link {
    color: #FCF6F5;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.links {
    width: 600px;
    display: flex;
    justify-content: space-around;
    color:#FCF6F5;
}

.title {
    color: #FCF6F5;
}

.text {
    padding: 20px;
}

.about-title, .about-text, .footer-text {
    color:#7b9acc;
}

.video {
    text-align: center;
    padding: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}