* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7b9acc;
    padding: 20px;
    margin: 0px;
}

footer {
    padding: 20px;
}

body {
    background-color: #FCF6F5;
}

hr {
    color: #7b9acc;
    border-color: #7b9acc;
}

.pic {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.link {
    color: #FCF6F5;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.links {
    width: 600px;
    display: flex;
    justify-content: space-around;
    color:#FCF6F5;
}

.title {
    color: #FCF6F5;
}

.text {
    padding: 20px;
}

.about-title, .about-text, .footer-text {
    color:#7b9acc;
}

.video {
    text-align: center;
    padding: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#dragon {
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url("phoenix.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

#game {
    position: relative;
    width: 98vw;
    height: 35vw;
    margin: auto;
    background-color:#7b9acc;

}

.fireball {
    position: absolute;
    width: 60px;
    height: 100px;
    background-image: url("fireball.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.human {
  position: absolute;
  width: 120px;
  height: 180px;
  background-image: url("human.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 400px; /* 👈 increase this to push humans higher */
}